{% extends 'constructora/base.html' %}
{% block content %}
<div class="row">
  <br>
  <div class="col l4 offset-l4 white">
    <h4 class="center-align">Nuevo </h4>
    <form action="{% url 'url_insertar_proveedor' %}" method="post">
    {% csrf_token %}
      <div class="input-field col l10">
        <i class="material-icons prefix">edit</i>
        <label for="nombre">Nombre *</label>
        <input id="nombre" name="nombre" type="text" required>
      </div>
      <div class="input-field col l10">
        <i class="material-icons prefix">label</i>
        <label for="desc">Descripción *</label>
        <textarea class="materialize-textarea" id="desc" name="descripcion" required></textarea>
      </div>
      <br>
      <div class="center-align">
        <button class="btn waves-effect waves-light " type="submit" name="action">Guardar
       <i class="material-icons right">save</i>
        </button>
      </div>

    </form>
  </div>
</div>

{% endblock content %}
